<a href="https://colab.research.google.com/github/Abhishek-M-B/DSA_Assignments/blob/main/Practice4_Abhishek_M_B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Write a Python program to accept a string value from the user and display
the count of each character in that string. Sample input: Enter a string
value: assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1

In [5]:
text=input("Enter the text: ")
count={}

for char in text:
  if char in count:
    count[char] +=1
  else:
    count[char]=1

for key,value in count.items():
  print(f"'{key}' : {value}")

Enter the text: assembly
'a' : 1
's' : 2
'e' : 1
'm' : 1
'b' : 1
'l' : 1
'y' : 1

Q2. . Write a Python function to find the maximum of three numbers Sample
input: 34,12,7 Sample output: 34

In [6]:
numbers = [34, 12, 7]

maximum = numbers[0]

for num in numbers:
    if num > maximum:
        maximum = num

print("Maximum number:", maximum)

Maximum number: 34

Q3. Write a Python function called exponent(base,exp) that returns an
integer value of base raises to the power of exp. Sample input: Enter the
base: 2 Enter the exponent: 3 Sample output: 8

In [12]:
def exponent(base,exp):
  return pow(base,exp) #pow(base,exp) means base^exp

base= int(input('Enter the base: '))
exp = int(input('Enter the exponent: '))

print(exponent(base,exp))

Enter the base: 2
Enter the exponent: 3
8

Q4. Write a Python function that takes a positive integer and returns the sum
of the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36.

In [8]:
def sum_of_cubes(n):
    total = 0
    for i in range(1, n):
        total += i**3
    return total


print("Sum of cubes:", sum_of_cubes(4))

Sum of cubes: 36

Q5. Write a Python program which iterates from 1 to 10. For multiples of 2,
print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
For numbers which are multiples of both 2 and 5, print “FizzBuzz”.
Sample input: numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz
Fizz 7 Fizz 9 FizzBuzz

In [11]:
for i in range(1, 11):
    if i % 2 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 2 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

Q6. Write a Python program to find the most frequent item in a list of
numbers. Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2

In [13]:
numbers = [2, 3, 4, 2, 5, 2]

most_frequent = max(numbers, key=numbers.count)

print("Most frequent item:", most_frequent)

Most frequent item: 2

Q7. Write a Python program to find the sum of squares of the numbers in a
list. Sample input: 2,1,3,1 Sample output: 15

In [15]:
numbers = [2, 1, 3, 1]

total = 0
for n in numbers:
    total += n**2

print(f"Sum of squares: {total}")

Sum of squares: 15

Q8. Write a Python program using for loop that will iterate from 1 to 15. For
each iteration, check if the current number is odd or even, and display the
message to the screen as odd or even. Sample input: 1….15 Sample
output: 1-odd 2-even …. 15-odd

In [16]:
for i in range(1, 16):  # 1 to 15 inclusive
    if i % 2 == 0:
        print(f"{i}-even")
    else:
        print(f"{i}-odd")

1-odd
2-even
3-odd
4-even
5-odd
6-even
7-odd
8-even
9-odd
10-even
11-odd
12-even
13-odd
14-even
15-odd

Q9. Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit
=41 Sample output: Temperature in Celsius =5

In [17]:
f = float(input("Temperature in Fahrenheit: "))

c = (f - 32) * 5 / 9

print("Temperature in Celsius:", c)

Temperature in Fahrenheit: 41
Temperature in Celsius: 5.0

Q10. Write a Python function to calculate the factorial of a number (a
nonnegative integer). The function accepts the number as an argument.
Sample input: 3 Sample output: 6

In [18]:
def factorial(n):
    if n < 0:
        return "Factorial not defined for negative numbers"
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)

print("Factorial:", factorial(3))

Factorial: 6