<a href="https://colab.research.google.com/github/Abhishek-M-B/DSA_Assignments/blob/main/Practice1_Abhishek_M_B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ASSIGNMENT 1 [*Data* *Types* *And* *Operators*] - **ABHISHEK** **M** **B**

1. What is the output of print(type(5 + 5.0))?

In [ ]:
print(type(5 + 5.0))

<class 'float'>

2. Print the result of str(5) + " apples"

In [ ]:
print(str(5) + " apples")

5 apples

3. Use len() to print the length of "Python Rocks!"

In [ ]:
print(len("Python Rocks!"))

13

4. Add, subtract, multiply, and divide 15 and 4, and print all results

In [ ]:
num1=15
num2=4

print(f"Addition : {num1+num2}")
print(f"Subtraction : {num1-num2}")
print(f"Multiply : {num1*num2}")
print(f"Division : {num1/num2}")

Addition : 19
Subtraction : 11
Multiply : 60
Division : 3.75

5. Find the floor division of 15 by 4

In [ ]:
num1=15
num2=4
print(f"Floor division : {num1//num2}")

Floor division : 3

6. Use modulo to find the remainder when 17 is divided by 5

In [ ]:
num1=17
num2=5
print(f"Remainder : {num1%num2}")

Remainder : 2

7. Raise 3 to the power of 4 and print

In [ ]:
num1=3
num2=4
print(num1**num2)

81

8. Evaluate 10 + 2 * 5 and explain the output

In [ ]:
result=10+2*5
print(result)

20

9. Use print() to show the result of 7 % 3 == 1

In [ ]:
print(7%3==1)

True

10. Store the result of 3 ** 2 + 1 in a variable and print its type

In [ ]:
result=3**2+1
print(type(result))

<class 'int'>

11. Use print() to check if 8 // 3 equals 2

In [ ]:
print(8//3==2)

True

12. Use print() to show if len("car") == 3

In [ ]:
print(len("car")==3)

True

13. Check if "Python" != "python" and print the result

In [ ]:
print("Python" != "python")

True

14. Compare the type of "10" with 10

In [ ]:
t1=(type("10"))
t2=(type(10))
print(t1==t2)

False

15. Check if None == False

In [ ]:
print(None == False)

False

16. Use print() to show whether 10 >= 10

In [ ]:
print(10 >= 10)

True

17. Use logical operators to check if a number is between 10 and 20

In [ ]:
num=int(input("Enter the num: "))
check = (num>=10) and (num<=20)
print(check)

Enter the num: 15
True

18. Get the length of "1234567890" and check if it's even

In [ ]:
num=len("1234567890")
if num%2==0:
  print("Even number")
else:
  print("Odd number")

Even number

19. Use a string, check if it contains "@" and "." (email format)

In [ ]:
email="abhishek@gmailcom"
if ("@" in email) and ("." in email):
    print("Is_present")

20. Check whether the type of len("hello") is int

In [ ]:
str1=len("hello")
print(type(str1)==int)

True